/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
    Extra Resetting
*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#6f86d6, #48c6ef);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    line-height: 1.75;
    /*overflow: auto;*/
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.react-gravatar {
    border-radius: 60%;
}

.logo-image {
    height: 40px;
    width: 40px;
    margin: 18px;
}

.select-field {
    margin-bottom: 28px;
}

.header-bar {
    background-color: white !important;
    height: 160px !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.paper {
    background-color: white !important;
    height: 340px;
    width: 60%;
    margin: 44px auto 44px auto;
    border: 1px solid lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-wrap {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.paper-left {
    width: 40%;
    height: 80%;
}

.paper-right {
    width: 40%;
    height: 80%;
}

h2 {
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 44px;
}

p {
    color: grey !important;
}

.footer-bar {
    text-align: center;
    color: black !important;
}


.share-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image-404 {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .header-bar {
        height: 60px !important;
    }
    .single-item {
        margin: 12px !important;
        width: 30% !important;
    }
}